<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OP | Root</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            background-color: #F0F0F0;
            color: #333;
            margin: 50px;
            padding: 0;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <h1>OP | Root</h1>
    <h2>Current Session</h2>
    <p>
        {{ if .HydraSession }}
        HydraSession exists: {{ .HydraSession }}
        {{ end }}
    </p>
    <p>
        {{ if .LoginSession }}
        LoginSession exists: {{ .LoginSession }}
        {{ end }}
    </p>
    <h2>User Store</h2>
    <table>
        <tr>
            <th>User ID</th>
            <th>Login ID</th>
        </tr>
        {{range .Users }}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.LoginID}}</td>
        </tr>
        {{end}}
    </table>
</body>
</html>