<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OP | Root</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="card">
        <h1>OP | Root</h1>
        <h2>Current Session</h2>
        {{ if .HydraSession }}
            <div class="session-info">HydraSession: {{ .HydraSession }}</div>
        {{ end }}
        {{ if .LoginSession }}
            <div class="session-info">LoginSession: {{ .LoginSession }}</div>
        {{ end }}

        <h2>User Store</h2>
        <table>
            <tr>
                <th>User ID</th>
                <th>Login ID</th>
            </tr>
            {{range .Users }}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.LoginID}}</td>
            </tr>
            {{end}}
        </table>
    </div>
</body>
</html>
