<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OP | Input SMS</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            background-color: #F0F0F0;
            color: #333;
            margin: 50px;
            padding: 0;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <h1 id="intput-sms-title">OP | Input SMS Code({{if .ViaRegister }}Register{{ else }}Login{{ end }})</h1>
    {{ if .Error }}
        <p>{{ .Error }}</p>
    {{ end }}
    <form action="{{ .Action }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CSRFToken }}">
        <input type="hidden" name="challenge" value="{{ .Challenge }}">
        <input type="hidden" id="telephone" name="telephone" value="{{ .Telephone }}">
        <table>
            <tr>
                <td>
                    <lable for="sms_code">SMS Code:</lable>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="input" id="sms_code" name="sms_code" value="123456" placeholder="123456">
                </td>
                <td>(it's always "123456")</td>
            </tr>
        </table>
        <br>
        <input type="submit" id="accept" name="submit" value="Log in">
        <input type="submit" id="reject" name="submit" value="Deny access">
    </form>
</body>
</html>