<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OP | Input Telephone</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            background-color: #F0F0F0;
            color: #333;
            margin: 50px;
            padding: 0;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <h1 id="input-telephone-title">OP | Input Telephone({{ if .ViaRegister }}Register{{ else }}Login{{ end }})</h1>
    {{ if .Error }}
        <p>{{ .Error }}</p>
    {{ end }}
    <form action="{{ .Action }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CSRFToken }}">
        <input type="hidden" name="challenge" value="{{ .Challenge }}">
        <table>
            <tr>
                <td>
                    <lable for="telephone">Telephone number:</lable>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="telephone" id="telephone" name="telephone" value="{{ if .Hint }}{{ .Hint }}{{ end }}" placeholder="08012345678">
                </td>
                <td>(it's "08012345678")</td>
            </tr>
        </table>
        <br>
        <input type="submit" id="accept" name="submit" value="Get code">
        <input type="submit" id="reject" name="submit" value="Deny access">
    </form>
</body>
</html>