<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OP | Logout</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            background-color: #F0F0F0;
            color: #333;
            margin: 50px;
            padding: 0;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <h1 id="login-title">OP | Logout</h1>
    {{ if .Error }}
        <p>{{ .Error }}</p>
    {{ else }}
        <p>Do you want to logout right now?</p>
    {{ end }}
    <form action="{{ .Action }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CsrfToken }}">
        <input type="hidden" name="challenge" value="{{ .Challenge }}">
        <input type="submit" id="accept" name="submit" value="Yes">
        <input type="submit" id="reject" name="submit" value="No">
    </form>
</body>
</html>