<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RP | Initiate Authorization Request</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            background-color: #E0E0E0;
            color: #333;
            margin: 50px;
            padding: 0;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <h1>RP | Initiate Authorization Request</h1>
    <p><a href="{{ .AuthZReqWithPromptLoginURL }}">Initiate Authorize Request(prompt=login)</a></p>
    <p><a href="{{ .AuthZReqWithPromptRegistrationURL }}">Initiate Authorize Request(prompt=registration)</a></p>
    <p><a href="{{ .AuthZReqWithPromptNoneURL }}">Initiate Authorize Request(prompt=none)</a></p>
</body>
</html>