<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RP | Logout</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="card">
        <h1>RP | Initiate Logout Request</h1>
        {{ if .Error }}
            <div class="error-msg">{{ .Error }}</div>
        {{ else }}
            <ul class="link-list">
                <li><a href="{{ .LogoutURL }}">Initiate Logout Request</a></li>
            </ul>
        {{ end }}
    </div>
</body>
</html>
