<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OP | Register</title>
    <style>
        body {
            font-family: Verdana, sans-serif;
            background-color: #F0F0F0;
            color: #333;
            margin: 50px;
            padding: 0;
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <h1 id="login-title">OP | Register</h1>
    {{ if .Error }}
        <p>{{ .Error }}</p>
    {{ end }}
    <form action="{{ .Action }}" method="POST">
        <input type="hidden" name="_csrf" value="{{ .CsrfToken }}">
        <input type="hidden" name="challenge" value="{{ .Challenge }}">
        <table>
            <tr>
                <td>
                    <input type="email" id="email" name="email" value="" placeholder="foo@bar.com">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="password" name="password" value="">
                </td>
            </tr>
        </table>
        <input type="submit" id="accept" name="submit" value="Register">
        <input type="submit" id="reject" name="submit" value="Deny access">
    </form>

    <div>
        <p>
            You already have an account? <a href="/login?login_challenge={{ .Challenge }}">Login</a>
        </p>
    </div>
</body>
</html>